/* Colors: 
    Dark Purple: #140252. Reg. Purple: #22007B. Blue: #0D00A5. Pink: #D736A6. */

body,
html {
    color: #ffffff;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
}


/*------------------------------------HEADER-----------------------*/

header {
    position: fixed;
    display: flex;
    width: 100vw;
    align-items: center;
    top: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #000000;
    z-index: 10;
}

.logo {
    display: inline-block;
    position: absolute;
    width: calc(50px + 1vw);
    height: auto;
    margin-left: 3rem;
}


/*------------HAMBURGER MENU=---------*/

.nav {
    justify-content: flex-end;
    text-align: right;
    height: 50px;
    line-height: 50px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: calc(12px + .2vw);
    width: 100%;
    box-sizing: border-box;
}

.menu {
    display: block;
    margin: 0 30px 0 0;
}

.menu a {
    text-decoration: none;
    color: #828282;
    margin: 0 20px;
    line-height: 50px;
}

label {
    margin: 0 0 0 0;
    font-size: 25px;
    line-height: 50px;
    display: none;
    margin: 0 20px;
    text-align: right;
}

#toggle {
    display: none;
}

.menu a:hover {
    color: #ffffff;
}

.menu a:active {
    color: #D736A6;
}


/*------------------------------------HOME-----------------------------*/

.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(images/hero-intro.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.inner-hero {
    display: inline-block;
    width: 100vw;
    position: relative;
    top: -7vh;
    text-align: center;
}

h1 {
    font-family: 'Muli', Arial, Helvetica, sans-serif;
    font-size: calc(18px + 2vw);
    font-weight: bolder;
    margin-left: 10vw;
    font-weight: 600;
    text-align: left;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-2.5em);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/*--------------------------------------ABOUT----------------------------*/

.about {
    position: relative;
    background-color: #ffffff;
    display: inline-flex;
    width: 50vw;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    padding: 15% 0;
    box-sizing: border-box;
}

h2 {
    margin-left: 10vw;
    margin-bottom: 15px;
    text-align: left;
    font-family: 'Muli', Arial, Helvetica, sans-serif;
    font-size: calc(16px + 2vw);
    color: #1e1e1e;
}

p {
    margin-left: 10vw;
    color: #1e1e1e;
    line-height: 38px;
    text-align: left;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: calc(14px + 1vw);
    font-weight: 300;
}

.profilepic {
    float: right;
    margin-right: 10%;
    margin-top: 20vh;
    max-width: 30vw;
    height: auto;
}


/*-----------------------------------SKILLS---------------------*/

.skills {
    background-color: #ffffff;
    display: flex;
    width: 100vw;
    flex-direction: column;
    padding: 5% 0;
    background-color: #000000;
}

h3 {
    margin-left: 10vw;
    margin-bottom: 15px;
    text-align: left;
    font-family: 'Muli', Arial, Helvetica, sans-serif;
    font-size: calc(16px + 2vw);
    color: #ffffff;
}

.containerskills {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    padding-bottom: 20px;
    width: 75%;
    margin: 35px auto;
}

.row {
    display: block;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    margin: 0 40px;
}

.row img {
    min-width: 80px;
    max-width: 150px;
}

h4 {
    font-family: 'Muli', Arial, Helvetica, sans-serif;
    font-size: calc(14px + .8vw);
    color: #ffffff;
}

#githubtitle {
    margin-top: 35px;
}

#reactsubtitle {
    margin-top: 41px;
}


/*-------------------------------------------WORK--------------------------------*/

.projects {
    background-color: #ffffff;
    width: 100vw;
    padding-top: 5%;
    padding-bottom: 10%;
}

.container-work {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-evenly;
}

.row-work {
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    text-align: center;
}

.row-work img {
    display: block;
    position: relative;
    width: 400px;
    height: auto;
    margin: 15px 15px;
    transition: .5s ease;
    opacity: 1;
    box-sizing: border-box;
}

div.overlay {
    position: absolute;
    top: 0;
    width: 400px;
    margin: 15px 15px;
    height: 400px;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.overlay:hover {
    opacity: 1;
    transition: .2s ease-in;
}

h5 {
    position: absolute;
    font-family: 'Muli', Arial, Helvetica, sans-serif;
    font-size: calc(14px + .8vw);
    color: #ffffff;
    z-index: 11;
    text-align: center;
    margin: 0 auto;
    padding: 0 15px;
}

#work-btn {
    display: block;
    border: 2px solid #000000;
    background-color: #000000;
    border-radius: 80px;
    justify-content: center;
    width: 150px;
    height: auto;
    margin: 15px auto;
    color: #ffffff;
    text-align: center;
}

#work-btn:hover {
    background-color: #D736A6;
    border: 2px solid #d736a6;
}

.row-work a {
    text-decoration: none;
}


/*------------OVERLAY-------*/


/*------------------------------------------CONTACT ME---------------------------------*/

.contact {
    position: relative;
    background-color: #000000;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 12%;
    padding-top: 10%;
    box-sizing: border-box;
}

.contact-box {
    color: #ffffff;
    line-height: 38px;
    text-align: left;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: calc(14px + 1vw);
    width: 90vw;
    margin-left: 10vw;
    font-weight: 300;
}

form label {
    font-size: 1px;
    opacity: 0;
}

input {
    width: 70%;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #ffffff;
    background-color: transparent;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom: 4px solid #D736A6;
    outline: none;
    padding-bottom: 10px;
}

input::placeholder {
    color: #828282;
    font-size: 14px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 300;
    padding-bottom: 10px;
}

#error_message {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 16px;
    color: #ffffff;
    z-index: 10;
    margin-left: 10vw;
}

button {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #ffffff;
    margin-top: 20px;
    display: block;
    font-size: 16px;
    padding: 10px 5px;
    box-sizing: border-box;
    width: 150px;
    border: none;
    border-radius: 80px;
    outline: none;
    background-color: #D736A6;
}

button:active {
    transform: translateY(2px);
}

button:hover {
    background-color: #ff3ec5;
}

#submit {
    font-weight: bold;
}


/*-------------------------------------FOOTER------------------------------------*/

footer {
    position: static;
    bottom: 0;
    width: 100vw;
    background-color: #1e1e1e;
    display: flex;
    padding: 10px 0;
    box-sizing: border-box;
}

.ftr-row {
    display: inline-flex;
    margin-left: 10vw;
    vertical-align: middle;
    justify-content: left;
}

.ftr-row img {
    box-sizing: border-box;
    display: inline-flex;
    width: 45px;
    height: auto;
    padding: 15px 15px 15px 0;
}


/*---------------------------------SCROLL BAR---------------------------------*/

body::-webkit-scrollbar {
    width: 3px;
    color: #1e1e1e;
    box-sizing: border-box;
}


/*---------------------------------------MEDIA QUERIES-------------------------------------*/

@media only screen and (max-width: 500px) {
    body,
    html {
        width: 100%;
        overflow-x: hidden !important;
    }
    .profilepic {
        display: none;
    }
    .about {
        width: 100vw;
        padding: 100px 0;
    }
    .containerskills {
        width: 100vw;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
    }
    .row-work img {
        width: 50vw;
    }
    div.overlay:hover {
        display: none;
    }
    label {
        display: block;
        cursor: pointer;
    }
    .nav {
        margin-right: 0;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
        box-sizing: border-box;
        background-color: #000000;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #D736A6;
        margin: 0;
    }
    #toggle:checked+.menu {
        display: block;
    }
}