@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Colors: 
    Dark Purple: #140252. Reg. Purple: #22007B. Blue: #0D00A5. Pink: #D736A6. */

body {
    color: #ffffff;
    overflow-x: hidden;
}

header {
    position: fixed;
    display: flex;
    width: 100%;
    align-items: center;
    top: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #000000;
    z-index: 10;
}

.logo {
    display: inline-flex;
    float: left;
    top: 0;
    width: calc(50px + 1vw);
    height: auto;
    margin-left: 70px;
}

nav {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    display: inline-flex;
    justify-content: flex-end;
    font-size: calc(10px + .2vw);
    flex-basis: 100%;
}

nav a {
    display: inline-block;
    padding: 15px;
    color: #828282;
    text-decoration: none;
    text-transform: uppercase;
    justify-content: flex-end;
    cursor: pointer;
}

nav a:hover {
    color: #D736A6;
}

nav a:active {
    color: #ECECEC;
}


/*------------------------------------HOME-----------------------------*/

.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(images/hero-intro.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.inner-hero {
    display: inline-block;
    box-sizing: border-box;
    width: 100vw;
    position: relative;
    top: -7vh;
    text-align: center;
}

h1 {
    font-family: 'Muli', Arial, Helvetica, sans-serif;
    font-size: calc(18px + 2vw);
    font-weight: bolder;
    margin-left: 10vw;
    font-weight: 600;
    text-align: left;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-2.5em);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/*--------------------------------------ABOUT----------------------------*/

.about {
    position: relative;
    background-color: #ffffff;
    display: inline-flex;
    width: 50vw;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    padding: 15% 0;
}

h2 {
    margin-left: 10vw;
    margin-bottom: 15px;
    text-align: left;
    font-family: 'Muli', Arial, Helvetica, sans-serif;
    font-size: calc(16px + 2vw);
    color: #1e1e1e;
}

p {
    margin-left: 10vw;
    color: #1e1e1e;
    line-height: 38px;
    text-align: left;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: calc(14px + 1vw);
    font-weight: 300;
}

#profilepic {
    float: right;
    margin-right: 10%;
    margin-top: 15vh;
    max-width: 30vw;
    height: auto;
}


/*-----------------------------------SKILLS---------------------*/

.skills {
    position: relative;
    background-color: #ffffff;
    display: inline-flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    padding: 15% 0;
    background-image: url(images/WebsiteHero33-01.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h3 {
    margin-left: 10vw;
    margin-bottom: 15px;
    text-align: left;
    font-family: 'Muli', Arial, Helvetica, sans-serif;
    font-size: calc(16px + 2vw);
    color: #ffffff;
}

.containerskills {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    margin-left: 10%;
    flex-direction: row;
    padding-bottom: 50px;
}

.row {
    width: 50%;
    margin-top: 20px;
    display: flex;
    align-items: left;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.row img {
    min-width: 80px;
    max-width: 150px;
    justify-content: flex-start;
}


/*-------------------------------------------PROJECTS--------------------------------*/

.projects {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    margin: 15% 0;
}

.container-work {
    display: block;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 10vw;
}

.row-work {
    display: inline-flex;
    flex-flow: row wrap;
    text-align: center;
}

.row-work a {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
    color: #1e1e1e;
    text-align: center;
    padding: 15px 15px;
}

.row-work a:hover {
    color: #D736A6;
}

.row-work img {
    display: block;
    width: 25vw;
    height: auto;
    justify-content: center;
    padding: 15px 15px;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
}

.row-work img:hover {
    color: grayscale;
    transform: scale(1.1);
}


/*------------------------------------------CONTACT ME---------------------------------*/

.contact {
    position: relative;
    background-color: #000000;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    padding: 8% 0;
}

.contact-box {
    color: #ffffff;
    line-height: 38px;
    text-align: left;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: calc(14px + 1vw);
    width: 90vw;
    margin-left: 10vw;
    font-weight: 300;
}

form label {
    margin-right: 10px;
}

input {
    width: 70%;
    color: #ffffff;
    background-color: transparent;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom: 4px solid #D736A6;
    outline: none;
    padding-bottom: 10px;
}

input::placeholder {
    color: #828282;
    font-size: 14px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 300;
    padding-bottom: 10px;
}

textarea {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    width: 70%;
    color: white;
    border: none;
    outline: none;
    margin-top: 30px;
    background-color: transparent;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom: 4px solid #D736A6;
    padding-bottom: 10px;
}

textarea::placeholder {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #828282;
    padding-bottom: 10px;
}

button {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #ffffff;
    margin-top: 20px;
    display: block;
    font-size: 16px;
    padding: 10px 5px;
    width: 150px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #D736A6;
}


/*-------------------------------------FOOTER------------------------------------*/

footer {
    position: static;
    bottom: 0;
    width: 100vw;
    height: 10vh;
    background-color: #1e1e1e;
    display: flex;
    padding: 10px 0;
    box-sizing: border-box;
}

.ftr-row {
    display: inline-flex;
    margin-left: 10vw;
    vertical-align: middle;
    justify-content: left;
}

.ftr-row img {
    box-sizing: border-box;
    display: inline-flex;
    width: 45px;
    height: auto;
    padding: 15px 15px 15px 0;
}


/*---------------------------------------MEDIA QUERIES-------------------------------------*/